The Notebook Analysis for Kidney stone urine analysis

In [1]:
print("Hello, World!")

Hello, World!

In [2]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

cos_client = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='szfe9aP8ZEqM_0_zPMBYxORLL3Iya1SH3vvSt68NTQQM',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/identity/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.direct.eu-gb.cloud-object-storage.appdomain.cloud')

bucket = 'datascience-donotdelete-pr-1vjd34hnuydbc3'
object_key = 'kidney_stone_urine_analysis.csv'

body = cos_client.get_object(Bucket=bucket,Key=object_key)['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_1 = pd.read_csv(body)
df_1.head(10)

   gravity    ph  osmo  cond  urea  calc  target
0    1.021  4.91   725  14.0   443  2.45       0
1    1.017  5.74   577  20.0   296  4.49       0
2    1.008  7.20   321  14.9   101  2.36       0
3    1.011  5.51   408  12.6   224  2.15       0
4    1.005  6.52   187   7.5    91  1.16       0
5    1.020  5.27   668  25.3   252  3.34       0
6    1.012  5.62   461  17.4   195  1.40       0
7    1.029  5.67  1107  35.9   550  8.48       0
8    1.015  5.41   543  21.9   170  1.16       0
9    1.021  6.13   779  25.7   382  2.21       0